<div id="typography" class="container mb-5">
    <div class="section-title col-lg-8 col-md-10 ml-auto mr-auto">
        <h2 style="text-align:center; margin:100px 0px 20px 0px;">New</h2>
            <div class="text-center">
                <%= render 'form'%>
            </div>
    </div>
</div>